@import url('https://fonts.googleapos.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/photo_2024-05-17_14-11-18.jpg');
  

}
